<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Search Car by Zipcode</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input name="search" #searchTerm (keyup.enter)="performSearch(searchTerm)" class="form-control input-lg" placeholder="zipcode"
          />
          <span class="input-group-btn">
            <button (click)="performSearch(searchTerm)" class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let c of cars">
    <h5> Car Details </h5>
    <h6> Make - {{c.make}} </h6>
    <h6> Model - {{c.model}} </h6>
    <h6> Miles - {{c.miles}} </h6>
    <img src="{{c.image}}">
    <hr>
  </div>
</div>



<!--
<h1> Search Component html firing </h1>
<h1> {{title}} </h1>
<div id="search-component">
  <input name="search" #searchTerm (keyup.enter)="performSearch(searchTerm)">
  <button (click)="performSearch(searchTerm)">Search</button>
  <br>
  <div *ngFor="let c of cars">
    <h5> Car Details </h5>
    <h6> Make - {{c.make}} </h6>
    <h6> Model - {{c.model}} </h6>
    <h6> Miles - {{c.miles}} </h6>
    <img src="{{c.image}}">
    <hr>
  </div>
</div>-->